<div class="rTable">
  <div class="rTableRow" ng-if="$ctrl.categories[0]">
    <div class="rTableHead"><a>Name</a></div>
    <div class="rTableHead"><a>Short Name</a></div>
    <div class="rTableHead">&nbsp;</div>
  </div>
  <div class="rTableRow" ng-repeat="category in $ctrl.categories">
    <div class="rTableCell">{{ category.name }}</div>
    <div class="rTableCell">{{ category.short_name }}</div>
    <div class="rTableCell">
      <button ui-sref="items({ category: category.short_name })" class="button">
        Items Category
      </button>
    </div>
  </div>
</div>
